<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="js/js.js"></script>
  <link rel="stylesheet" href="css/style.css" />
  <title></title>
 </head>
 <body>

	<h1>{{perso.nom}}</h1>

	<p>{{perso.nom}} a {{perso.experience}} d'expérience</p>

	<p><a href="../del/{{perso.id}}">Supprimer</a></p>
	<p><a href="../edite/{{perso.id}}">Editer</a></p>




 </body>
</html>