{% extends "app/errors/ressources/layout/base.html.twig" %}
{% block title %}{{ parent()  }} | Error {{ Error.Number }}{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="{{ Info.Webroot }}app/errors/ressources/css/style.css" />
{% endblock %}
{% block body %}
<div id="header">
	<div id="contentInfoError">
	 	<div id="errorName">Error {{ Error.Number }} !</div>
	 	<div id="kintoun"><img src="{{ Info.Webroot }}app/errors/ressources/images/kintoun.png" alt="kinto un"/></div>

	 	<div id="errorContent">{{ Error.Message }}</div>
	</div>
</div>

<div id="search">
	<form>
		<input type="search" class="input" name="search" placeholder="search ..." />
		<label for="ok" class="submit"><input type="submit" id="ok" /><i class="fa fa-search"></i></label>
	</form>
</div>

<div id="content">

	{{ message }} Ceci est un exemple de page d'erreur {{ Error.Number }}.
	

</div>
{% endblock %}

{% block javascripts %}
{% endblock %}