{% extends "ressources/layout/base.html.twig" %}
{% block title %}{{ parent()  }} | Error {{ Error.Number }}{% endblock %}
{% block stylesheets %}
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ Info.Webroot }}app/errors/ressources/css/style.css" />
{% endblock %}
{% block body %}
	<div id="bg" class="er-{{ random(1) }}"></div>
<article>
	<div id="contentInfoError">
	 	<div id="errorName">Error !</div>
	 	<div id="kintoun"><img src="{{ Info.Webroot }}app/errors/ressources/images/kintoun.png" alt="kinto un"/></div>

	 	<div id="errorContent"><span>Erreur ligne</span> <strong>{{ trace.0.line }}</strong> <span>au Controller </span><strong>"{{ trace.1.class }}"</strong> <span>, action </span><strong>{{ trace.1.function }}</strong><span> et méthode</span> <strong>"$this->[table]->{{ trace.0.function }}()"</strong><span>.</span></div>
	</div>
</article>

{% endblock %}

{% block javascripts %}
{% endblock %}